.headerContainer {
  height: 9.75rem;
  background-image: url('../../assets/header.svg');;
  p {
    margin-left: 3rem;
    font-size: 1.4rem;
    line-height: 2rem;
    &:last-child {
      font-weight: bold;
    }
  }

  @media (max-width: 600px) {
   p {
     line-height: 1.4em;
   }
  }
  
}

