.footerContainer {
  margin-top: 6rem;
  height: 7.60rem;
  background-image: url('../../assets/footer.svg');;
  span {
    position: absolute;
    margin-left: 3rem;
    margin-top: 3.5rem;
  }

  button {
    float: right;
    border-radius: 0.25rem;
    margin-right: 3rem;
    margin-top: 3rem;
    width: 10rem;
    height: 2.5rem;
  }



  @media (max-width: 500px) {
    button {
      width: 6rem;
      height: 2.5rem;
   }
   
  }
}



